<!DOCTYPE html>
html(lang="pt-br")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    title Document
    link(href="style/custom.css", rel="stylesheet")  
    script(src="scripts/main.js")
      
body
    header(class='header')
        nav(class='header__primary--nav')
            a(href="#", title="title") 
            a(href="#", title="title") 
        nav(class='header__secondary-nav')
    
    section(class='content')

    aside(class='aside')

    footer(class='footer')
        p rodapé
