<!DOCTYPE html>
html(lang="pt-br" ng-app)
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    title Document
    include includes/stylesheets.pug
    include includes/scripts.pug
      
body
    header(class='header')
        nav(class='header__primary--nav')
            a(href="#") logo 
            a(href="#") login 
            a(href="#") language 
        nav(class='header__secondary--nav')
            a(href="#") sobre 
            a(href="#") serviços 
            a(href="#") cursos 
            a(href="#") blog 
    
    section(class='content')
        h1
        section
            header
                h2
                article
            footer
        
        section
            header
                h2
                article
            footer
        
        section
            header
                h2
                article
            footer
        

    aside(class='aside')
        header
            h3
            div
        footer


    footer(class='footer')
        section
            header
                h3
                div
            footer
        
        section
            header
                h3
                div                    
                    p rodapé
            footer

        section
            header
                h3
                div
            footer


