<!DOCTYPE html>
html(lang="pt-br")
head
    title Document
    include includes/meta-tags.pug
    include includes/stylesheets.pug
    include includes/scripts.pug
      
body(ng-app="")
   
    include includes/header.pug
    
    include includes/content.pug

    include includes/footer.pug


