<!DOCTYPE html>
html(lang="pt-br" ng-app)
head
    title Document
    include includes/meta-tags.pug
    include includes/stylesheets.pug
    include includes/scripts.pug
      
body
   
    include includes/header.pug
    
    section(class='content')
        h1
        section(class='content__section contaigner')
            header
                h2
                article
            footer
        
        section(class='content__section contaigner')
            header
                h2
                article
            footer
        
        section(class='content__section contaigner')
            header
                h2
                article
            footer
        

    aside(class='aside')
        header
            h3
            div
        footer


    include includes/footer.pug


