@import 'imports/_imports.sass'

.header
    background-color: $second-background-color
    color: $second-color

.header
    padding-top: 15px

.header__primary--nav, 
.header__secondary--nav    
    height: 50px

.header__primary--nav a, 
.header__secondary--nav a
    padding: 10px
    margin-left: 5px
    margin-right: 5px
    text-decoration: none
    color: $second-text-color
    width: 50px
    font-size: $font-size-menu
    &:hover
        color: $correct-color

.content__section
    font-size: $default-font-size
    color: $first-text-color

.footer
    @extend .header

.footer_section div
    font-size: $default-font-size
    color: $second-text-color

