@import 'imports/_imports.sass'

.header,.footer,body
    background-color: $second-color
    color: $first-color

.header
    height: 100px
    margin-top: 10px
    margin-bottom: 10px

.header__primary--nav, 
.header__secondary--nav
    height: 50px

.header__primary--nav a, 
.header__secondary--nav a
    margin-left: 5px
    margin-right: 5px
    text-decoration: none
    color: $first-color
    width: 50px

.content
    background-color: gray
