@import 'imports/_imports.sass'

.header,.footer,body
    background-color: $second-color
    color: $first-color

.header__primary--nav a, 
.header__secondary--nav a
    text-decoration: none
    color: $first-color

