div(class='content__faq--subsection container' )
    header(id="content__faq--subsection-banner")
        h1(id="content__faq--subsection-title")          
    article
        h2(id="content__faq--subsection-sub_title" class="title-2")
        img(src="view/style/images/image_default_256.png" alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa")        
        p(id="content__faq--subsection-text" class="text") 
    footer