div(class='content__portifolio--subsection grid-portifolio')
    header(id="content__portifolio--subsection-banner" class="item1")
        h1(id="content__portifolio--subsection-title")       

    aside(class="container item2")   
        //Mobile   
    article(class="product container item3")  
        span(class="sub_titles_project") 
            h5  Versão: N/A      
        //Imagem do Primeiro Projeto
        img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa"                    
            class="imagem_produto"
            src="view/style/images/image_default_256.png") 
        ul(class="description")
            li(class="lista_sem_marcacao") 
                label(class="label") Descrição:
                span(class="text") 
            li(class="lista_sem_marcacao")
                label(class="label") Tipo de Projeto: 
                span(class="text")
            li(class="lista_sem_marcacao")
                label(class="label") Link: 
                span(class="text") n/a
            li(class="lista_sem_marcacao")
                label(class="label") Repositório no Github: 
                span(class="text") 
            li(class="lista_sem_marcacao")
                label(class="label") Linguagens:
                span(class="text") 
            li(class="lista_sem_marcacao")
                label(class="label") Bibliotecas, Frameworks e API's: 
                span(class="text")  
            li(class="lista_sem_marcacao")
                label(class="label") Tecnologias utilizadas:
                span(class="text")  
            li(class="lista_sem_marcacao")
                label(class="label") Pré-processadores e transpiladores:
                span(class="text")  n/a
            li(class="lista_sem_marcacao")
                label(class="label") Ferramentas:
                span(class="text") 
            li(class="lista_sem_marcacao")
                label(class="label") Técnicas:
                span(class="text")  
            li(class="lista_sem_marcacao")
                label(class="label") Métodos de Escrita:
                span(class="text") 
            li(class="lista_sem_marcacao")
                label(class="label") Ferramenta de Mockup ou Wireframes:
                span(class="text") n/a
            li(class="lista_sem_marcacao")
                label(class="label") Técnicas e Ferramentas de documentação:
                span(class="text") n/a
            li(class="lista_sem_marcacao")
                label(class="label") Técnicas e Ferramentas de teste:
                ul(class="label container")  
                    li
                        label(class="label") Teste unitário:
                        span(class="text") n/a
                    li
                        label(class="label") Teste de Integração:
                        span(class="text") n/a
                    li
                        label(class="label") Teste de Interface:
                    li
                        label(class="label") Teste de Compatibilidade:
                        span(class="text") n/a
            li(class="lista_sem_marcacao")
                label(class="label") Metodologia de desenvolvimento ágil:
                span(class="text") n/a
            li(class="lista_sem_marcacao")
                label(class="label") Sistema Operacional:
                span(class="text") n/a
            li(class="lista_sem_marcacao")
                label(class="label") Ambiente de Desenvolvimento:
                span(class="text") n/a
            li(class="lista_sem_marcacao")
                label(class="label") Implementações Futuras:
                span(class="text") 
                       
        footer

        form
            //Add project
            buttom
            //Delete project
            buttom
            //Edit project
            buttom
            //Select project
            input(type="checkbox") 
            //Project's filter            
            select
                optiongroup
                    option
            //Pagination