@import 'imports/_imports.sass'
.header__primary--nav-item-logo
    cursor: pointer

.content
    display: flex

.content__home
    font-size: $default-font-size
    color: $basic-color-one
    width: 100% 

.content__home--subsection
    padding-top: 0.5px
    padding-bottom: 15px

.title-2
    text-align: center

.content__home--subsection-link
    text-align: center
    text-decoration: none    
    padding-left: 3%

#content__about,#content__services,
#content__courses,#content__blog,
#content__portifolio,#content__faq
    display: none

#footer
    background-color: $first-color
    width: 100%
    color: $basic-color-one

.footer__section--one,.footer__section--two
    display: inline-block

.footer__section--one div
    font-size: $default-font-size

.footer__section--two div
    font-size: $default-font-size

#footer__section--one-lb_contact
    color: $second-color
    font-weight: bold

#footer__section--two-lb_contact
    color: $third-color

/*Shots*/
html
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

body
    background: #F0F0F0
    font-family: Arial, Helvetica, sans-serif
    margin: 0px
    font-size: 12px
    line-height: 22px
    color: #555
    -webkit-box-sizing: inherit
    -moz-box-sizing: inherit
    box-sizing: inherit
    &:before, &:after
        -webkit-box-sizing: inherit
        -moz-box-sizing: inherit
        box-sizing: inherit

.menu
    height: 56px
    background: #333
    background: rgba(47, 47, 47, 0.98)
    ul
        width: 980px
        margin: 0px auto
        padding: 0px
        li
            float: left
            list-style: none
            display: inline
            &.active a
                color: #fff
        a
            display: block
            height: 56px
            padding: 0 10px
            line-height: 56px
            text-decoration: none
            color: #999
            cursor: pointer
        &.logo a
            padding: 0 20px 0 0
            display: block
            width: 76px
            height: 56px
            background-repeat: no-repeat
            background-position: 0 50%
            background-image: url(https://d13yacurqjgara.cloudfront.net/assets/logo-small-81973ada6cbc43e760963d9da1cd6478.png)
            -webkit-transition: opacity 0.2s ease
            -moz-transition: opacity 0.2s ease
            -o-transition: opacity 0.2s ease
            transition: opacity 0.2s ease
        a:hover
            color: #fff
        &.drop a
            line-height: 70px
            i
                font-size: 25px

.shot h6
    text-align: center
    margin: 0px    

/*Phones*/
@media (max-width: 480px)  
    .header
        color: $second-color  
        width: 100%        
        align-items: center

    .header__menu--phone
        display: none

    .header__primary--nav
        width: 100%
        display: flex
        background-color: $first-color
        padding: 15px
        padding-bottom: 2px
        padding-top: 2px    
    
    .header__primary--nav-item-menu_phone_icon
        width: 30px
        height: 30px
        margin-right: 20px
    
    .header__primary--nav-item,#header__primary--nav-title_site,
    .header__primary--nav-modes
        width: 33.33%

    .header__primary--nav-item
        padding-top: 10px   
        z-index: 1
    
    .header__primary--nav-item-logo
        width: 30px
        margin-left: 3px
        margin-right: 3px
    
    .header__primary--nav-logo_inverter
        width: 12%
        margin-left: 3px
        margin-right: 3px
        filter: inverter(100%)

    #header__primary--nav-title_site
        z-index: 1
        font-size: 25px
        padding-top: 1.5%
        padding-left: 1.5%
        padding-right: 5%
        color: $third-color

    .header__primary--nav-modes
        display: inline-block

    #header__primary--nav-search
        width: 20%
        margin-left: 3px
        margin-right: 3px

    .header__secondary--nav   
        color: $basic-color-one

    .header__secondary--nav a
        text-decoration: none
        font-size: $phone_font-size-menu
        font-weight: bold
    
    .header__menu--phone
        width: 55px
        margin-left: 3px
        margin-right: 3px

    .header__secondary--nav-menu_phone_break_line
        display: block  

    #breadcrumb__way
        display: block
        width: 100%        
        height: 14px
        background-color: $second-color
        color: $basic-color-two
        width: 100%
        padding-right: 3%
        padding-left: 3%
        border-top: 3px solid $basic-color-two
        font-size: 13px
    
    .breadcrumb__search--text
        border-radius: 5px
        height: 30px
        background-color: $basic-color-two
        color: #000
        border: 2px solid $sixth-color
        margin-top: 3px
        margin-left: 3px
        padding-left: 5px
    
    .content
        width: 100% 
        display: block
    
    #content__aside
        width: 100% 
        display: block
        padding: 15px

    #content-pages
        width: 100% 
        display: block

    .content__home--subsection-image
        border-radius: 7px

    .content__home--subsection-image,
    .content__home--subsection-text
        width: 100%
        height: 100%
        text-align: center
    
    #wrapper
        padding-left: auto
        padding-right: auto

    .shot
        float: left
        background: #FFF
        border: solid 1px #EEE
        padding: 12px
        margin: 0px 20px 20px 0px
        border-radius: 3px
        width: 100%
        img
            min-height: 150px
            width: 100%
        &:hover
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
            -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
        ul
            padding: 0px
            margin: 0px
            li
                float: left
                list-style: none
                margin-right: 8px
                color: #888
                font-size: 11px
            i
                margin-right: 5px

    .bar
        position: relative
        border-bottom: 1px solid #e5e5e5
        background: rgba(255, 255, 255, 0.6)
        text-align: center
        padding: 15px
        margin-bottom: 20px

    .shots
        cursor: pointer
    
    #fb-root
        width: 100%
        display: block

/* Tablet */     
@media screen and (max-width: 768px) and (min-width: 481px)
    .header
        background-color: $first-color
        padding-top: 15px
        padding-bottom: 15px
        position: relative
    
    .header__primary--nav
        width: 100%
        display: flex
        margin-bottom: 1%
    
    .header__primary--nav-item
        width: 16.66% //two columns
    
    #header__primary--nav-title_site
        width: 56.66% //eight columns
        text-align: center
        font-size: 30px
        margin-top: 0px
        margin-bottom: 0px
        color: $third-color
        font-weight: bold

    .header__primary--nav-modes
        width: 26.66% //two columns
        position: absolute
        right: 0.5px

    .header__primary--nav-item-menu_phone_icon
        display: none
    
    .header__primary--nav-item-logo
        position: absolute
        left: 31%

    #header__secondary--nav   
        width: 100%
        display: flex
        position: relative

    .header__primary--nav a, 
    .header__secondary--nav a
        padding-top: 10px
        padding-right: 5px
        padding-left: 5px
        margin-left: 1.5px
        margin-right: 1.5px
        text-decoration: none
        font-size: $font-size-menu
        color: $basic-color-two
        &:hover
            color: $fourth-color

    .header__secondary--nav-menu_phone_break_line
        display: none
    
    #header__secondary--nav-share
        position: absolute
        right: 5px

    .breadcrumb
        width: 100%   
        display: flex     

    #breadcrumb__way
        width: 73.97% 
    
    .breadcrumb__search
        background-color: $basic-color-two
        width: 25.99%

    .breadcrumb__search--text
        border-radius: 5px
        height: 30px
        background-color: #fff
        color: #000
        margin: 3px
        border: 2px solid #000

    .content
        display: flex

    #content__pages
        font-size: $default-font-size
        color: $sixth-color
        width: 74.97% 

    .content__aside
        width: 24.99%  
        background-color: $seventh-color
    
    .content__home--subsection
        display: flex
        padding-top: 0.5px
        padding-bottom: 15px

    .content__home--subsection-content
        display: flex

    .content__home--subsection-image
        border-radius: 7px

    .content__home--subsection-image,
    .content__home--subsection-text
        width: 50%
        height: 50%
        text-align: center
        padding-left: 3% 
    /*shot*/
    
    #wrapper
        padding-left: auto
        padding-right: auto

    .shot
        float: left
        background: #FFF
        border: solid 1px #EEE
        padding: 12px
        margin: 0px 20px 20px 0px
        border-radius: 3px
        img
            min-height: 150px
        &:hover
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
            -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
        ul
            padding: 0px
            margin: 0px
            li
                float: left
                list-style: none
                margin-right: 8px
                color: #888
                font-size: 11px
            i
                margin-right: 5px

    .bar
        position: relative
        border-bottom: 1px solid #e5e5e5
        background: rgba(255, 255, 255, 0.6)
        text-align: center
        padding: 15px
        margin-bottom: 20px

    .shots
        cursor: pointer
    
    #fb-root
        width: 100%        
        display: block

/*desktop*/
@media screen and (min-width: 769px)        
    .header
        background-color: $first-color
        padding-top: 15px
        position: relative
    
    .header__primary--nav
        height: 50px
        width: 100%
        display: flex
        position: relative
    
    .header__primary--nav-item
        width: 16.66% //two columns
    
    #header__primary--nav-title_site
        width: 56.66% //eight columns
        text-align: center
        font-size: 30px
        margin-top: 0px
        margin-bottom: 0px
        color: $third-color
        font-weight: bold

    .header__primary--nav-item-menu_phone_icon
        display: none
    
    .header__secondary--nav-menu_phone_break_line
        display: none
    
    .header__primary--nav-item-logo
        margin-left: 3%
        margin-right: 48% 
        position: absolute
        left: 31%
    
    .header__primary--nav-modes
        width: 16.66% //two columns
        position: absolute
        right: 0.5px
    
    #header__secondary--nav-share
        position: absolute
        right: 5px

    .select_options
        border-radius: 5px
        height: 30px
        background-color: $second-color   
        color: $basic-color-two
        border: 2px solid $basic-color-two        

    #header__secondary--nav   
        height: 50px
        width: 100%
        display: flex

    #header__secondary--nav-faq
        margin-right: 18%

    .header__primary--nav a, 
    .header__secondary--nav-option
        padding-top: 5px
        padding-right: 5px
        padding-left: 5px
        margin-left: 2.5px
        margin-right: 2.5px
        text-decoration: none
        font-size: $font-size-menu
        color: $basic-color-two
        &:hover
            color: $fourth-color

    .breadcrumb
        width: 100%   
        display: flex     

    #breadcrumb__way
        width: 73.97%         
    
    .breadcrumb__search
        background-color: $basic-color-two
        width: 25.99%

    .breadcrumb__search--text
        border-radius: 5px
        height: 30px
        background-color: #fff
        color: #000
        margin: 3px
        border: 2px solid #000

    .content
        display: flex

    #content__pages
        font-size: $default-font-size
        color: $sixth-color
        width: 74.97% 

    .content__aside
        width: 24.99%  
        background-color: $seventh-color
    
    .content__home--subsection
        display: flex
        padding-top: 0.5px
        padding-bottom: 15px

    .content__home--subsection-content
        display: flex

    .content__home--subsection-image
        border-radius: 7px

    .content__home--subsection-image,
    .content__home--subsection-text
        width: 50%
        height: 50%
        text-align: center
        padding-left: 3%
    /*shots*/
    
    #wrapper
        padding-left: auto
        padding-right: auto

    .shot
        float: left
        background: #FFF
        border: solid 1px #EEE
        padding: 12px
        margin: 0px 20px 20px 0px
        border-radius: 3px
        img
            min-height: 150px
        &:hover
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
            -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
        ul
            padding: 0px
            margin: 0px
            li
                float: left
                list-style: none
                margin-right: 8px
                color: #888
                font-size: 11px
            i
                margin-right: 5px

    .bar
        position: relative
        border-bottom: 1px solid #e5e5e5
        background: rgba(255, 255, 255, 0.6)
        text-align: center
        padding: 15px
        margin-bottom: 20px

    .shots
        cursor: pointer
    
    #fb-root
        width: 100%        
        display: block