section(class="content")
    section(id="content__pages")
        section(class='content__page content__home container' id="content__home" ) 
            include home.pug
        section(class='content__page content__section container' id="content__about" ) 
            include pages/about.pug
        section(class='content__page content__section container' id="content__services" ) 
            include pages/services.pug
        section(class='content__page content__section container' id="content__courses" ) 
            include pages/courses.pug
        section(class='content__page content__section container' id="content__blog" ) 
            include pages/blog.pug
        section(class='content__page content__section container' id="content__portifolio" ) 
            include pages/portifolio.pug
        section(class='content__page content__section container' id="content__faq" ) 
            include pages/faq.pug

    aside(class='content__aside container' id="content__aside" )
        include aside.pug
