meta(charset="UTF-8")
meta(content="width=device-width, initial-scale=1" name="viewport" )
meta(content="" name="description" )
meta(property="og:url" content="www.codeista.com")
meta(property="og:type" content="website")
meta(property="og:title" content="Your Website Title")
meta(property="og:description" content="Your description")
meta(property="og:image" content="www.codeista.com/view/style/images/image1.jpg")
