/*reset */
html, body, ul, ol {
  margin: 0;
  padding: 0; }

/****** BACKGROUND **** */
/*Background for to read the texts */
/*Background to header and footer */
/*Background Modal */
/***** FONT TEXT **** */
/*menu */
/*color blind can not: green, red, blue, yellow */
/***** ALERTS COLOR **** */
/* Fonte size */
/* Desktop */
/* Tablet */
/* Phone */
/*Buttons */
.buttom, .buttom-gray, .buttom-blue {
  width: 5.99%;
  height: 40px;
  padding-top: 3px;
  padding-right: 9px;
  padding-bottom: 6px;
  padding-left: 9px;
  border-radius: 5px; }

.buttom-gray {
  color: #800000;
  border: 2px solid #800000;
  text-weight: bold; }

.buttom-blue {
  color: #4285f4;
  border: 2px solid #4285f4; }

.buttom-black {
  @extends buttom;
  color: #000;
  border: 2px solid #4285f4; }

.buttom-white {
  @extends buttom;
  color: #fff;
  border: 2px solid #4285f4; }

/*Phones */
@media (max-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; }

  .modal {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 90%;
    height: 115%;
    display: none; }

  .header__primary--nav {
    display: none; } }
/* Tablet */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }
/*desktop */
@media screen and (min-width: 769px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }
.content {
  display: flex; }

.content__home {
  font-size: 18px;
  color: #000;
  width: 74.97%; }

.content__home--subsection {
  display: flex; }

#content__home--subsection-title1, #content__home--subsection-title2,
#content__home--subsection-title3, #content__home--subsection-title4 {
  text-align: center; }

.content__home--subsection-text {
  align-items: center; }

.content__home--subsection-buttom {
  display: block; }

#content__about, #content__services,
#content__courses, #content__blog,
#content__portifolio, #content__faq {
  display: none; }

.content__home--subsection-image,
.content__home--subsection-text {
  display: inline-block;
  width: 50%; }

.content__page {
  width: 74.97%; }

.content__aside {
  width: 24.99%; }

#footer {
  background-color: #4285f4;
  width: 100%;
  color: #333; }

.footer__section--one, .footer__section--two {
  display: inline-block; }

.footer__section--one div {
  font-size: 18px; }

.footer__section--two div {
  font-size: 18px; }

#footer__section--one-lb_contact, #footer__section--one-lb_dev,
#footer__section--one-lb_phone, #footer__section--one-lb_email,
#footer__section--one-lb_business_hours {
  font-weight: bold; }

/*Phones */
@media (max-width: 480px) {
  .header {
    color: #333;
    width: 100%;
    align-items: center; }

  .header__menu--phone {
    display: none; }

  .header__menu--phone-hide {
    display: none; }

  .header__primary--nav {
    width: 100%;
    display: flex;
    background-color: #4285f4;
    padding: 15px;
    padding-bottom: 2px;
    padding-top: 2px; }

  .header__primary--nav-item,
  #header__primary--nav-title_site {
    padding-top: 10px;
    width: 50%;
    z-index: 1; }

  #header__primary--nav-title_site {
    font-size: 32px;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 5%; }

  .header__secondary--nav {
    display: none;
    color: #000; }

  .header__secondary--nav a {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold; }

  .header__menu--phone {
    width: 55px;
    margin-left: 3px;
    margin-right: 3px; }

  .header__primary--nav-mode {
    display: inline-block; }

  .header__primary--nav-language,
  .header__primary--nav-mode_options {
    width: 95%;
    padding: 7px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff; }

  .header__primary--nav-logo {
    width: 12%;
    margin-left: 3px;
    margin-right: 3px; }

  #header__primary--nav-search {
    width: 20%;
    margin-left: 3px;
    margin-right: 3px; }

  .header__secondary--nav-menu_phone_break_line {
    display: block; }

  .breadcrumb__way {
    display: block;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 3px;
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
    border-top: 3px solid #fff; }

  .breadcrumb__search--text {
    border-radius: 5px;
    height: 30px;
    background-color: #fff;
    color: #fff;
    border: 2px solid #000;
    margin-top: 3px;
    margin-left: 3px;
    padding-left: 5px; }

  .content {
    display: block; }

  .content__home {
    font-size: 18px;
    color: #000;
    width: 100%; }

  .content__aside {
    width: 100%; } }
/* Tablet */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .header__menu--phone {
    display: block; }

  .header__secondary--nav-menu_phone_break_line {
    display: none; }

  .content {
    display: flex; }

  .content__home {
    font-size: 18px;
    color: #000;
    width: 74.97%; }

  .content__aside {
    width: 24.99%; } }
/*desktop */
@media screen and (min-width: 769px) {
  .header {
    background-color: #4285f4;
    padding-top: 15px;
    padding-bottom: 15px; }

  .header__primary--nav {
    width: 100%;
    display: flex;
    margin-bottom: 1%; }

  .header__primary--nav-item {
    width: 16.66%; }

  #header__primary--nav-title_site {
    width: 66.66%;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px; }

  .header__primary--nav-mode {
    width: 16.66%; }

  .header__primary--nav-item-menu_phone_icon {
    display: none; }

  .header__secondary--nav-menu_phone_break_line {
    display: none; }

  .header__primary--nav-item-logo {
    margin-left: 3%;
    margin-right: 48%; }

  .header__primary--nav-mode_options {
    border-radius: 5px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff; }

  .header__primary--nav-language {
    border-radius: 5px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff; }

  #header__secondary--nav {
    width: 100%;
    display: flex; }

  #header__secondary--nav-faq {
    margin-right: 28%; }

  .header__primary--nav a,
  .header__secondary--nav a {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    width: 50px;
    font-size: 22px;
    color: #fff; }
    .header__primary--nav a:hover,
    .header__secondary--nav a:hover {
      color: #800000; }

  .breadcrumb {
    width: 100%;
    display: flex; }

  .breadcrumb__way {
    width: 73.97%; }

  .breadcrumb__search {
    background-color: #fff;
    width: 25.99%; }

  .breadcrumb__search--text {
    border-radius: 5px;
    height: 30px;
    background-color: #fff;
    color: #fff;
    margin: 3px;
    border: 2px solid #000; }

  .content {
    display: flex; }

  .content__home {
    font-size: 18px;
    color: #000;
    width: 74.97%; }

  .content__aside {
    width: 24.99%;
    background-color: #f3f3f3; } }

/*# sourceMappingURL=custom.css.map */
