@import 'imports/_imports.sass'
.content
    display: flex

.content__home
    font-size: $default-font-size
    color: $first-text-color
    width: 74.97% 

#content__about,#content__services,
#content__courses,#content__blog,
#content__portifolio,#content__faq
    display: none

.content__page
    width: 74.97% 

.content__aside
    width: 24.99%  

#footer
    background-color: $second-background-color
    width: 100%
    color: $second-color 

.footer__section--one div
    font-size: $default-font-size

.footer__section--two div
    font-size: $default-font-size

#footer__section--one-lb_contact,#footer__section--one-lb_dev,
#footer__section--one-lb_phone,#footer__section--one-lb_email,
#footer__section--one-lb_business_hours
    font-weight: bold

/*Phones*/
@media (max-width: 480px)  
    .header
        color: $second-color  
        width: 100%        
        align-items: center

    .header__menu--phone
        display: none
    
    .header__menu--phone-hide
        display: none

    #header__modal--menu
        z-index: 1
        background-color: $background-modal
        width: 100%
        height: 100%
    
    .header__primary--nav
        width: 100%

    .header__primary--nav
        display: inline-block

    .header__secondary--nav
        display: block

    .header__secondary--nav
        color: $first-text-color


    .header__secondary--nav a
        text-decoration: none
        font-size: $phone_font-size-menu
        font-weight: bold
    
    .header__menu--phone,
    .header__primary--nav-language,
    .header__primary--nav-mode
        width: 55px
        margin-left: 3px
        margin-right: 3px

    #header__primary--nav-logo,
    #header__primary--nav-search
        width: 20%
        margin-left: 3px
        margin-right: 3px

    .header__menu--phone-break_line
        display: block  

    .content
        display: block

    .content__home
        font-size: $default-font-size
        color: $first-text-color
        width: 100% 

    .content__aside
        width: 100%  
/* Tablet */     
@media screen and (max-width: 768px) and (min-width: 481px)
    .header__menu--phone
        display: block
    
    .header__menu--phone-break_line
        display: none

    .content
        display: flex

    .content__home
        font-size: $default-font-size
        color: $first-text-color
        width: 74.97% 

    .content__aside
        width: 24.99%  

/*desktop*/
@media screen and (min-width: 769px)        
    .header
        background-color: $second-background-color
        padding-top: 15px

    .header__menu--phone-icon
        display: none
    
    .header__menu--phone-break_line
        display: none

    #header__primary--nav-logo
        margin-left: 3%
        margin-right: 48%

    .header__primary--nav
        margin-bottom: 1%

    #header__primary--nav-search
        border-radius: 5px
        border: 2px solid $first-text-color
        height: 30px
        padding-left: 1%

    .header__primary--nav-mode
        border-radius: 5px
        height: 30px
        background-color: $third-background-color
        color: $third-text-color
        border: 2px solid $third-text-color

    .header__primary--nav-language
        border-radius: 5px
        height: 30px
        background-color: $third-background-color
        color: $third-text-color
        border: 2px solid $third-text-color

    #header__secondary--nav    
        margin-left: 7%

    #header__secondary--nav-faq
        margin-right: 28%

    .header__primary--nav a, 
    .header__secondary--nav a
        padding: 10px
        margin-left: 5px
        margin-right: 5px
        text-decoration: none
        width: 50px
        font-size: $font-size-menu
        color: $third-color
        &:hover
            color: $fourth-color

    .content
        display: flex

    .content__home
        font-size: $default-font-size
        color: $first-text-color
        width: 74.97% 

    .content__aside
        width: 24.99%  
        background-color: $fifth-background-color
