/*reset */
html, body, ul, ol {
  margin: 0;
  padding: 0; }

/*menu */
/*Background Modal */
/*color blind can not: green, red, blue, yellow */
/***** ALERTS COLOR **** */
/* Fonte size */
/* Desktop */
/* Tablet */
/* Phone */
/*Buttons */
.buttom, .buttom-transparent, .buttom-gray, .buttom-blue {
  width: 5.99%;
  height: 40px;
  padding-top: 3px;
  padding-right: 9px;
  padding-bottom: 6px;
  padding-left: 9px;
  border-radius: 5px;
  text-weight: bold; }

.buttom-transparent {
  color: #333;
  border: 2px solid #a97f7f; }

.buttom-gray {
  color: #ffad6a;
  border: 2px solid #4285f4; }

.buttom-blue {
  color: #ffad6a;
  border: 2px solid #4285f4; }

.buttom-black {
  @extends buttom;
  color: #757575;
  border: 2px solid #4285f4; }

.buttom-white {
  @extends buttom;
  color: #800000;
  border: 2px solid #4285f4; }

.label {
  color: #000;
  font-weight: bold; }

.container {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px; }

.block {
  display: inline-block; }

.contrast {
  background-color: #f3f3f3; }

.select_options {
  border-radius: 5px;
  height: 30px;
  background-color: #a97f7f;
  color: #fff;
  border: 2px solid #fff; }

.text {
  color: #000; }

.imagem_produto {
  width: 40%; }

.imagem_banner {
  width: 100%;
  height: 200px; }

.lista_sem_marcacao {
  list-style-type: none; }

.description {
  width: 30%; }

.product {
  width: 100%;
  display: flex; }

.titles_project {
  display: block; }

.sub_titles_project {
  display: block; }

.imagem_produto {
  width: 50%; }

.description {
  width: 50%; }

/*Phones */
@media (max-width: 480px) {
  .menu__modal--phone {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 7%;
    padding-left: 7%;
    position: fixed;
    width: 80%;
    height: 115%;
    display: none; }

  .menu__modal--phone a {
    color: white; }

  .header__primary--nav {
    display: none; }

  .select_options {
    width: 88%;
    padding: 1px;
    border-radius: 5px;
    background-color: #a97f7f;
    color: #fff;
    border: 2px solid #fff; } }
/* Tablet */
/*desktop */
.header__primary--nav-item-logo {
  cursor: pointer; }

.content {
  display: flex; }

.content__home {
  font-size: 18px;
  color: #000;
  width: 100%; }

.content__home--subsection {
  padding-top: 0.5px;
  padding-bottom: 15px; }

.title-2 {
  text-align: center; }

.content__home--subsection-link {
  text-align: center;
  text-decoration: none;
  padding-left: 3%; }

#content__about, #content__services,
#content__courses, #content__blog,
#content__portifolio, #content__faq {
  display: none; }

#footer {
  background-color: #ffad6a;
  width: 100%;
  color: #000; }

.footer__section--one, .footer__section--two {
  display: inline-block; }

.footer__section--one div {
  font-size: 18px; }

.footer__section--two div {
  font-size: 18px; }

#footer__section--one-lb_contact {
  color: #a97f7f;
  font-weight: bold; }

#footer__section--two-lb_contact {
  color: #800000; }

/*Shots */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #F0F0F0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  font-size: 12px;
  line-height: 22px;
  color: #555;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }
  body:before, body:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

.menu {
  height: 56px;
  background: #333;
  background: rgba(47, 47, 47, 0.98); }
  .menu ul {
    width: 980px;
    margin: 0px auto;
    padding: 0px; }
    .menu ul li {
      float: left;
      list-style: none;
      display: inline; }
      .menu ul li.active a {
        color: #fff; }
    .menu ul a {
      display: block;
      height: 56px;
      padding: 0 10px;
      line-height: 56px;
      text-decoration: none;
      color: #999;
      cursor: pointer; }
    .menu ul.logo a {
      padding: 0 20px 0 0;
      display: block;
      width: 76px;
      height: 56px;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-image: url(https://d13yacurqjgara.cloudfront.net/assets/logo-small-81973ada6cbc43e760963d9da1cd6478.png);
      -webkit-transition: opacity 0.2s ease;
      -moz-transition: opacity 0.2s ease;
      -o-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease; }
    .menu ul a:hover {
      color: #fff; }
    .menu ul.drop a {
      line-height: 70px; }
      .menu ul.drop a i {
        font-size: 25px; }

/*Phones */
@media (max-width: 480px) {
  .header {
    color: #a97f7f;
    width: 100%;
    align-items: center; }

  .header__menu--phone {
    display: none; }

  .header__primary--nav {
    width: 100%;
    display: flex;
    background-color: #ffad6a;
    padding: 15px;
    padding-bottom: 2px;
    padding-top: 2px; }

  .header__primary--nav-item-menu_phone_icon {
    width: 30px;
    height: 30px;
    margin-right: 20px; }

  .header__primary--nav-item, #header__primary--nav-title_site,
  .header__primary--nav-modes {
    width: 33.33%; }

  .header__primary--nav-item {
    padding-top: 10px;
    z-index: 1; }

  .header__primary--nav-item-logo {
    width: 30px;
    margin-left: 3px;
    margin-right: 3px; }

  .header__primary--nav-logo_inverter {
    width: 12%;
    margin-left: 3px;
    margin-right: 3px;
    filter: inverter(100%); }

  #header__primary--nav-title_site {
    z-index: 1;
    font-size: 25px;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 5%;
    color: #800000; }

  .header__primary--nav-modes {
    display: inline-block; }

  #header__primary--nav-search {
    width: 20%;
    margin-left: 3px;
    margin-right: 3px; }

  .header__secondary--nav {
    color: #000; }

  .header__secondary--nav a {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold; }

  .header__menu--phone {
    width: 55px;
    margin-left: 3px;
    margin-right: 3px; }

  .header__secondary--nav-menu_phone_break_line {
    display: block; }

  #breadcrumb__way {
    display: block;
    width: 100%;
    height: 14px;
    background-color: #a97f7f;
    color: #fff;
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
    border-top: 3px solid #fff;
    font-size: 13px; }

  .breadcrumb__search--text {
    border-radius: 5px;
    height: 30px;
    background-color: #fff;
    color: #fff;
    border: 2px solid #757575;
    margin-top: 3px;
    margin-left: 3px;
    padding-left: 5px; }

  .content {
    width: 100%;
    display: block; }

  #content__aside {
    width: 100%;
    display: block;
    padding: 15px; }

  #content-pages {
    width: 100%;
    display: block; }

  .content__home--subsection-image {
    border-radius: 7px; }

  .content__home--subsection-image,
  .content__home--subsection-text {
    width: 100%;
    height: 100%;
    text-align: center; }

  #wrapper {
    padding-left: auto;
    padding-right: auto; }

  .shot {
    float: left;
    background: #FFF;
    border: solid 1px #EEE;
    padding: 12px;
    margin: 0px 20px 20px 0px;
    border-radius: 3px;
    width: 100%; }
    .shot img {
      min-height: 150px;
      width: 100%; }
    .shot:hover {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
    .shot ul {
      padding: 0px;
      margin: 0px; }
      .shot ul li {
        float: left;
        list-style: none;
        margin-right: 8px;
        color: #888;
        font-size: 11px; }
      .shot ul i {
        margin-right: 5px; }

  .bar {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px; }

  .shots {
    cursor: pointer; }

  #fb-root {
    width: 100%; } }
/* Tablet */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .header {
    background-color: #ffad6a;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative; }

  .header__primary--nav {
    width: 100%;
    display: flex;
    margin-bottom: 1%; }

  .header__primary--nav-item {
    width: 16.66%; }

  #header__primary--nav-title_site {
    width: 56.66%;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #800000;
    font-weight: bold; }

  .header__primary--nav-modes {
    width: 26.66%;
    position: absolute;
    right: 0.5px; }

  .header__primary--nav-item-menu_phone_icon {
    display: none; }

  .header__primary--nav-item-logo {
    position: absolute;
    left: 31%; }

  #header__secondary--nav {
    width: 100%;
    display: flex;
    position: relative; }

  .header__primary--nav a,
  .header__secondary--nav a {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    text-decoration: none;
    font-size: 22px;
    color: #fff; }
    .header__primary--nav a:hover,
    .header__secondary--nav a:hover {
      color: #333; }

  .header__secondary--nav-menu_phone_break_line {
    display: none; }

  #header__secondary--nav-share {
    position: absolute;
    right: 5px; }

  .breadcrumb {
    width: 100%;
    display: flex; }

  #breadcrumb__way {
    width: 73.97%; }

  .breadcrumb__search {
    background-color: #fff;
    width: 25.99%; }

  .breadcrumb__search--text {
    border-radius: 5px;
    height: 30px;
    background-color: #fff;
    color: #fff;
    margin: 3px;
    border: 2px solid #000; }

  .content {
    display: flex; }

  #content__pages {
    font-size: 18px;
    color: #757575;
    width: 74.97%; }

  .content__aside {
    width: 24.99%;
    background-color: #f3f3f3; }

  .content__home--subsection {
    display: flex;
    padding-top: 0.5px;
    padding-bottom: 15px; }

  .content__home--subsection-content {
    display: flex; }

  .content__home--subsection-image {
    border-radius: 7px; }

  .content__home--subsection-image,
  .content__home--subsection-text {
    width: 50%;
    height: 50%;
    text-align: center;
    padding-left: 3%; }

  /*shot */
  #wrapper {
    padding-left: auto;
    padding-right: auto; }

  .shot {
    float: left;
    background: #FFF;
    border: solid 1px #EEE;
    padding: 12px;
    margin: 0px 20px 20px 0px;
    border-radius: 3px; }
    .shot img {
      min-height: 150px; }
    .shot:hover {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
    .shot ul {
      padding: 0px;
      margin: 0px; }
      .shot ul li {
        float: left;
        list-style: none;
        margin-right: 8px;
        color: #888;
        font-size: 11px; }
      .shot ul i {
        margin-right: 5px; }

  .bar {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px; }

  .shots {
    cursor: pointer; }

  #fb-root {
    width: 100%; } }
/*desktop */
@media screen and (min-width: 769px) {
  .header {
    background-color: #ffad6a;
    padding-top: 15px;
    position: relative; }

  .header__primary--nav {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative; }

  .header__primary--nav-item {
    width: 16.66%; }

  #header__primary--nav-title_site {
    width: 56.66%;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #800000;
    font-weight: bold; }

  .header__primary--nav-item-menu_phone_icon {
    display: none; }

  .header__secondary--nav-menu_phone_break_line {
    display: none; }

  .header__primary--nav-item-logo {
    margin-left: 3%;
    margin-right: 48%;
    position: absolute;
    left: 31%; }

  .header__primary--nav-modes {
    width: 16.66%;
    position: absolute;
    right: 0.5px; }

  #header__secondary--nav-share {
    position: absolute;
    right: 5px; }

  .select_options {
    border-radius: 5px;
    height: 30px;
    background-color: #a97f7f;
    color: #fff;
    border: 2px solid #fff; }

  #header__secondary--nav {
    height: 50px;
    width: 100%;
    display: flex; }

  #header__secondary--nav-faq {
    margin-right: 18%; }

  .header__primary--nav a,
  .header__secondary--nav-option {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    text-decoration: none;
    font-size: 22px;
    color: #fff; }
    .header__primary--nav a:hover,
    .header__secondary--nav-option:hover {
      color: #333; }

  .breadcrumb {
    width: 100%;
    display: flex; }

  #breadcrumb__way {
    width: 73.97%; }

  .breadcrumb__search {
    background-color: #fff;
    width: 25.99%; }

  .breadcrumb__search--text {
    border-radius: 5px;
    height: 30px;
    background-color: #fff;
    color: #fff;
    margin: 3px;
    border: 2px solid #000; }

  .content {
    display: flex; }

  #content__pages {
    font-size: 18px;
    color: #757575;
    width: 74.97%; }

  .content__aside {
    width: 24.99%;
    background-color: #f3f3f3; }

  .content__home--subsection {
    display: flex;
    padding-top: 0.5px;
    padding-bottom: 15px; }

  .content__home--subsection-content {
    display: flex; }

  .content__home--subsection-image {
    border-radius: 7px; }

  .content__home--subsection-image,
  .content__home--subsection-text {
    width: 50%;
    height: 50%;
    text-align: center;
    padding-left: 3%; }

  /*shots */
  #wrapper {
    padding-left: auto;
    padding-right: auto; }

  .shot {
    float: left;
    background: #FFF;
    border: solid 1px #EEE;
    padding: 12px;
    margin: 0px 20px 20px 0px;
    border-radius: 3px; }
    .shot img {
      min-height: 150px; }
    .shot:hover {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
    .shot ul {
      padding: 0px;
      margin: 0px; }
      .shot ul li {
        float: left;
        list-style: none;
        margin-right: 8px;
        color: #888;
        font-size: 11px; }
      .shot ul i {
        margin-right: 5px; }

  .bar {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px; }

  .shots {
    cursor: pointer; }

  #fb-root {
    width: 100%; } }

/*# sourceMappingURL=custom.css.map */
