@import 'imports/_imports.sass'

.header
    background-color: $second-background-color
    color: $second-color        
    padding-top: 15px

#header__primary--nav-logo
    margin-left: 3%
    margin-right: 58%

.header__primary--nav
    margin-bottom: 1%

#header__primary--nav-search
    border-radius: 5px
    border: 2px solid $first-text-color
    height: 30px
    padding-left: 1%

.header__primary--nav-mode
    border-radius: 5px
    height: 30px
    background-color: $third-background-color
    color: $third-text-color
    border: 2px solid $third-text-color

.header__primary--nav-language
    border-radius: 5px
    height: 30px
    background-color: $third-background-color
    color: $third-text-color
    border: 2px solid $third-text-color

#header__secondary--nav    
    margin-left: 7%

#header__secondary--nav-faq
    margin-right: 38%

// .header__primary--nav-mode : hover,
// .header__primary--nav-language : hover
//     background-color: $fourth-background-color

.header__primary--nav a, 
.header__secondary--nav a
    padding: 10px
    margin-left: 5px
    margin-right: 5px
    text-decoration: none
    color: $second-text-color
    width: 50px
    font-size: $font-size-menu
    &:hover
        color: $third-text-color

.content
    display: flex

.content__section
    font-size: $default-font-size
    color: $first-text-color
    width: 74.97% 

.content__aside
    width: 24.99%  

.footer
    background-color: $second-background-color
    color: $second-color 

.footer__section--one div
    font-size: $default-font-size
    color: $second-text-color
    background-color: $second-background-color

.footer__section--two div
    font-size: $default-font-size
    color: $second-text-color

#footer__section--one-lb_contact,#footer__section--one-lb_dev,
#footer__section--one-lb_phone,#footer__section--one-lb_email,
#footer__section--one-lb_business_hours
    font-weight: bold

/*Phones*/
@media (max-width: 480px)
    .content
        display: block

    .content__section
        font-size: $default-font-size
        color: $first-text-color
        width: 100% 

    .content__aside
        width: 100%  
/* Tablet */     
@media screen and (max-width: 768px) and (min-width: 481px)
    
    .content
        display: flex

    .content__section
        font-size: $default-font-size
        color: $first-text-color
        width: 74.97% 

    .content__aside
        width: 24.99%  

/*desktop*/
@media screen and (min-width: 769px)
    .content
        display: flex

    .content__section
        font-size: $default-font-size
        color: $first-text-color
        width: 74.97% 

    .content__aside
        width: 24.99%  
        background-color: $fifth-background-color
