footer(class='footer container row')
    section(class='footer_section container' class=responsive_headers)
        header
            h3
            div
                p 
        footer
            
    section(class='footer_section container' class=content_classes)
        header
            h3 Contactos
            div                    
                label Celular: 
                span#celular
                br                
                
                label Email:
                span#email
                br

                label Horário de Atendimento:
                span#atendimento
                br
                
        footer

    section(class='footer_section container' class=responsive_headers)
        header
            h3
            div
                label by: {{ 5 + 5 }}
                br

        footer

        include script.pug
    