footer(class='footer container')
    section(class='footer_section contaigner')
        header
            h3
            div
                p rodapé header
        footer
            
    section(class='footer_section contaigner')
        header
            h3
            div                    
                p rodapé content
        footer

    section(class='footer_section contaigner')
        header
            h3
            div
                p rodapé rodapé
        footer