footer(class='footer container row')
    section(class='[footer_section container] [col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12]')
        header
            h3
            div
                p 
        footer
            
    section(class='[footer_section container] [col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-4]')
        header
            h3 Contactos
            div                    
                label Celular: 
                span#celular
                br                
                
                label Email:
                span#email
                br

                label Horário de Atendimento:
                span#atendimento
                br
                
        footer

    section(class='[footer_section container] [col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12]')
        header
            h3
            div
                label by:
                span#dev
                br
        footer

        include script.pug
    