footer(class='footer container')
    section(class='[footer_section contaigner] [phone-full-col tablet-full-col pc-full-col]')
        header
            h3
            div
                p rodapé header
        footer
            
    section(class='[footer_section contaigner] [phone-full-col tablet-half-col pc-half-of-half-col]')
        header
            h3
            div                    
                p rodapé content
        footer

    section(class='[footer_section contaigner] [phone-full-col tablet-full-col pc-full-col]')
        header
            h3
            div
                p rodapé rodapé
        footer