header(class='header')
    nav(class='header__primary--nav container')
        a(href="#") logo 
        a(href="#") procure 
        a(href="#") modo
        a(href="#") Idioma
    nav(class='header__secondary--nav container')
        a(href="#") sobre 
        a(href="#") serviços 
        a(href="#") cursos 
        a(href="#") blog 