section(class='content__section') 
    div(class='content__section--subsection container' class=content_subsection)
        header
            h2
            article
                p(id="content__first-section")  
        footer

    div(class='content__section--subsection container' class=content_subsection)
        header
            h2
            article
                p(id="content__second-section")
        footer

    div(class='content__section--subsection container' class=content_subsection)
        header
            h2
            article
                p(id="content__third-section")
        footer