section(class='content__section') 
    div(id="content__first-section" class='content__section--subsection container' class=content_subsection)
        header
            h2
            article
                p 
        footer

    div(id="content__second-section" class='content__section--subsection container' class=content_subsection)
        header
            h2
            article
                p 
        footer

    div(id="content__third-section" class='content__section--subsection container' class=content_subsection)
        header
            h2
            article
                p 
        footer