/*menu*/
$first-color: #ffad6a //orange
$second-color: #a97f7f //red
$third-color: #800000 //dark red
$fourth-color: #333 //gray 
$fifth-color: #333 //gray1
$sixth-color: #757575 //gray2 
$seventh-color: #f3f3f3 //gray3
$eighth-color: #f7ece3 //orange2

$basic-color-one: #000 //black 
$basic-color-two: #fff //white 

/*Background Modal*/
$background-modal: rgba(0, 0, 0, 0.9)

/*color blind can not: green, red, blue, yellow*/

/***** ALERTS COLOR *****/
$alert-color: #fbbc05 //yellow
$correct-color: #34a853 //green
$wrong-color: #ea4335 //red

