div(class='content__about--subsection container' )
    header
        h1 Página do Blog        
        h2 Título Figurativo
        article
            img(src="view/style/images/image_default_256.png" alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa")        
            p(id="content__first--section")  Página em construção
    footer