div(class='content__courses-subsection container' )
    header(id="content__courses-subsection-banner")
        h1(id="content__courses-subsection-title")          
    article
        h2(id="content__courses-subsection-sub_title")
        img(src="view/style/images/image_default_256.png" alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa")        
        p(id="content__courses-subsection-text") 
    footer