div(class='content__portifolio--subsection' )
    header(id="content__portifolio--subsection-banner")
    h1(id="content__portifolio--subsection-title")       

    //Web
    section(class="container")        
        h2(class="title-2") projetos web

        article
            //Imagem do Primeiro Projeto
            img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" 
                src="view/style/images/image_default_256.png")
            h3 3º Projeto
            h3 nome: Codeísta
                h5 Versão: N/A

                //Imagem do Primeiro Projeto
                img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                ul
                    li 
                        label(class="label") Descrição: 
                        span(class="text") Descrição do Projeto
                    li
                        label(class="label") Tipo de Projeto:  
                        span(class="text") Web Site
                    li
                        label(class="label") Link:  
                        span(class="text") https://hackbras.github.io/codeista/
                    li
                        label(class="label") Repositório no Github:  
                        span(class="text") https://github.com/hackbras/codeista
                    li
                        label(class="label") Linguagens e Tecnologias utilizadas:
                        span(class="text") Javascript, ajax, json, html5, pug, css3, Sass, Animate.css, CorelDraw, SEO,Chrome DevTools e Git (svc)
                    li
                        label(class="label") Implementações Futuras:
                        span(class="text") Regex, parallax, Carroussel, chatbot, integração com sistemas de pagamento
        footer

        article
            h3 2º Projeto
            h4 Nome: PrintShop
                h5  Versão: N/A

                //Imagem do Primeiro Projeto
                img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                ul
                    li 
                        label(class="label") Descrição:
                        span(class="text") Sistema feito para uma gráfica da minha região, com o objetivo de auxiliar os clientes a criarem sua própria arte, sem necessidade de nenhum conhecimento prévio de uma  ferramenta de desenho vetorial ou de edição de imagens.
                    li
                        label(class="label") Tipo de Projeto: 
                        span(class="text") Sistema Web 
                    li
                        label(class="label") Link: 
                        span(class="text") https://hackbras.github.io/printshop/
                    li
                        label(class="label") Repositório no Github: 
                        span(class="text") https://github.com/hackbras/printshop
                    li
                        label(class="label") Linguagens e Tecnologias utilizadas:
                        span(class="text")  Javascript, API FIleReader, html5, css3, CorelDraw, SEO,Chrome DevTools e Git (svc)
                    li
                        label(class="label") Implementações Futuras:
                        span(class="text") Este projeto será refatorado e adicionarei novas funcionalidades para que o sistema seja responsivo, utilize o estilo de escrita "BEM" para facilitar a manutenção e favorecer uma melhor organização do código css, para possibilitar a formatação de texto das artes e utilizar os conceitos de UX, pois o dono da gráfica disse que o sistema deveria ser mais simples, intuitivo e ter guias de utilização, para que os seus clientes tivessem mais facilidade em usá-lo.
        footer
        
        article
                h3 1º Projeto
                h4 nome: SuporteDesk
                    h5 6.5 Beta (Em breve após algumas melhorias e correções)
                    //Imagem do Primeiro Projeto
                    img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                    ul
                        li
                            label(class="label") Descrição: 
                            span(id="content__portifolio--subsection-text" class="label") Descrição do Projeto
                        li
                            label(class="label") Tipo de Projeto: 
                            span(class="text") Single-Page Responsiva
                        li
                            label(class="label") Link: 
                            span(class="text") https://suportedesk.com.br/version/beta/
                        li
                            label(class="label") Repositório no Github: 
                            span(class="text") n/a
                        li
                            label(class="label") Linguagens e Tecnologias utilizadas:
                            span(class="text") Javascript, Angular, html5, css3, Sass, Materializecss, Animate.css, SEO , CorelDraw, Chrome DevTools e Git (svc)

                        li
                            label(class="label") Implementações Futuras:
                            span(class="text")  n/a

                    h5  6.0 (Versão Utilizada Atualmente)
                    //Imagem do Primeiro Projeto
                    img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                    ul
                        li 
                            label(class="label") Descrição:
                            span(class="label") criado com o objetivo de divulgar meus serviços em Infraestrutura e para explorar as tecnologias de desenvolvimento. 
                        li
                            label(class="label") Tipo de Projeto: 
                            span(class="text") Single-Page Responsiva
                        li
                            label(class="label") Link: 
                            span(class="text") https://suportedesk.com.br
                        li
                            label(class="label") Repositório no Github: 
                            span(class="text") https://github.com/hackbras/SuporteDesk
                        li
                            label(class="label") Linguagens e Tecnologias utilizadas:
                            span(class="text") Javascript, Angular, html5, css3, Sass, Materializecss, SEO , CorelDraw, Chrome DevTools e Git (svc)
                        li
                            label(class="label") Implementações Futuras:
                            span(class="text")  
                        li
                            label(class="label") Observações:
                            span(class="text") Achei interessante demonstrar algumas versões que o meu site passou e as tecnologias que utilizei em cada uma.

                    h5 Versão: 5.0
                    //Imagem do Primeiro Projeto
                    img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                    ul
                        li 
                            label(class="label") Descrição:
                            span(class="label" id="content__portifolio--subsection-text" ) Descrição do Projeto
                        li
                            label(class="label") Tipo de Projeto: 
                            span(class="text") Single Page Applications
                        li
                            label(class="label") Link: 
                            span(class="text") https://suportedesk.com.br/version/5.0/
                        li
                            label(class="label") Repositório no Github: 
                            span(class="text") https://github.com/hackbras/SuporteDesk
                        li
                            label(class="label") Linguagens e Tecnologias utilizadas:
                            span(class="text") PHP, Javascript, Angular, html5, css3, Sass, Firebase, CorelDraw, Cross Browser, Chrome DevTools e Git (svc).
                        
                    h5 Versão: 4.0
                    //Imagem do Primeiro Projeto
                    img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                    ul
                        li
                            label(class="label") Tipo de Projeto: 
                            span(class="text")  Web Site
                        li
                            label(class="label") Link: 
                            span(class="text") https://suportedesk.com.br/version/4.0/
                        li
                            label(class="label") Repositório no Github: 
                            span(class="text") n/a
                        li
                            label(class="label") Linguagens e Tecnologias utilizadas:
                            span(class="text") PHP, html5, css, CorelDraw, Cross Browser, Chrome DevTools  e Git (svc).
                        
                    h5 Versão: 3.0
                    //Imagem do Primeiro Projeto
                    img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                    ul
                        li
                            label(class="label") Tipo de Projeto: 
                            span(class="text") Web Site Responsivo
                        li
                            label(class="label") Link: 
                            span(class="text") https://suportedesk.com.br/version/3.0/
                        li
                            label(class="label") Repositório no Github: 
                            span(class="text") n/a
                        li
                            label(class="label") Linguagens e Tecnologias utilizadas:
                            span(class="text") PHP, html5, css, Bootstrap e Git (svc)
        footer
    
    //Mobile
        section(class="container")
        h2 projetos mobile  
        //Imagem do Primeiro Projeto
        img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
        h3 IOS  
            span Descrição
        h3 Android 
            span Descrição

    //Desktop
    section(class="container")
        h2(class="title-2") projetos desktop            
        //Imagem do Primeiro Projeto
        img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
        //- h3 skeleton
        //-     span(class="text") Descrição
        
        h3 c#
        article
            h3 xº Projeto
            h4 Nome: Verbs
                h5  Versão: N/A

                //Imagem do Primeiro Projeto
                img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                ul
                    li 
                        label(class="label") Descrição:
                        span(class="text") Programa criado para auxiliar no processo de estudo de um novo idioma, com exercícios para adquirir vocabulário e enter tempos verbais.
                    li
                        label(class="label") Tipo de Projeto: 
                        span(class="text") Desktop 
                    li
                        label(class="label") Link: 
                        span(class="text") n/a
                    li
                        label(class="label") Repositório no Github: 
                        span(class="text") https://github.com/hackbras/Verbs
                    li
                        label(class="label") Linguagens e Tecnologias utilizadas:
                        span(class="text")  Asp net MVC em c#
                    li
                        label(class="label") Implementações Futuras:
                        span(class="text") Adicionarei novas funcionalidades para que o sistema faça gráficos e acompanhe o desempenho do usuário, utilize os conceitos de Orientação a objetos, testes unitários, Será alterado para projeto web, arquitetura de projetos mvc, conexão com sql server, fazer o deplay em hospedagem gratuita.
        footer

        article
            h3 xº Projeto
            h4 Nome: NotepadM (Novo nome WordM)
                h5  Versão: N/A

                //Imagem do Primeiro Projeto
                img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                ul
                    li 
                        label(class="label") Descrição:
                        span(class="text") Programa Alternativo ao pacote office da Microsoft
                    li
                        label(class="label") Tipo de Projeto: 
                        span(class="text") Desktop (Será alterado para Web) 
                    li
                        label(class="label") Link: 
                        span(class="text") n/a
                    li
                        label(class="label") Repositório no Github: 
                        span(class="text") https://github.com/hackbras/NotepadM
                    li
                        label(class="label") Linguagens e Tecnologias utilizadas:
                        span(class="text")  Asp net MVC em c# 
                    li
                        label(class="label") Implementações Futuras:
                        span(class="text") Adicionarei novas funcionalidades para que o sistema tenha o máximo possível de características que as ferramentas office da microsoft, utilize os conceitos de Orientação a objetos, testes unitários, Será alterado para projeto web, arquitetura de projetos mvc, conexão com sql server e fazer o deplay em hospedagem gratuita.
        footer

        article
            h3 xº Projeto
            h4 Nome: CalcConsoleM
                h5  Versão: N/A

                //Imagem do Primeiro Projeto
                img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
                ul
                    li 
                        label(class="label") Descrição:
                        span(class="text") Programa Alternativo a calculadora do windows
                    li
                        label(class="label") Tipo de Projeto: 
                        span(class="text") Desktop (Será alterado para Web) 
                    li
                        label(class="label") Link: 
                        span(class="text") n/a
                    li
                        label(class="label") Repositório no Github: 
                        span(class="text") https://github.com/hackbras/CalcConsoleM
                    li
                        label(class="label") Linguagens e Tecnologias utilizadas:
                        span(class="text")  c#
                    li
                        label(class="label") Implementações Futuras:
                        span(class="text") Adicionarei novas funcionalidades para que o sistema efetue cálculos complexos, utilize os conceitos de Orientação a objetos, testes unitários, Será alterado para projeto web, arquitetura de projetos mvc, conexão com sql server, Criar modo de cálculos simples, de números binários, hexadecimal, fazer o deplay em hospedagem gratuita.

        footer

    //Máquina
        section(class="container")
        h2(class="title-2") projetos em linguagem de máquina
        //Imagem do Primeiro Projeto
        img(alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa" src="view/style/images/image_default_256.png") 
        h3 Projetos em hardware aberto 
            h4 Arduíno
                span(class="text") Descrição

            h4 Raspberry 
                span(class="text") Descrição

        h3 Processamento de Imagem, áudio e Vídeos
            h4 Python, c ou c++
                span(class="text") Descrição 

    footer
