div(class='content__portifolio--subsection container' )
    header(id="content__portifolio--subsection-banner")
        h1(id="content__portifolio--subsection-title")          
    article
        h2(id="content__portifolio--subsection-sub_title")
        img(src="view/style/images/image_default_256.png" alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa")        
        p(id="content__portifolio--subsection-text") 
    footer