section(class="breadcrumb") 
    span(id="breadcrumb__way") 
    div(class="breadcrumb__search")
        input(class="breadcrumb__search--text" type="search" name="sitesearch" placeholder="Digite a palavra desejada")  
        buttom(id="breadcrumb__search--buttom" class="buttom-gray")