section(class="breadcrumb") 
    span(id="breadcrumb__way") 
    div(class="breadcrumb__search")
        input(class="breadcrumb__search--text" name="sitesearch" placeholder="Digite a palavra desejada" type="search")  
        buttom(class="buttom-gray" id="breadcrumb__search--buttom")