section(class="breadcrumb") 
    span(class="breadcrumb__way") Breadcrumb
    div(class="breadcrumb__search")
        input(class="breadcrumb__search--text" type="search" name="sitesearch" placeholder="Digite a palavra desejada")  
        buttom(class="buttom-gray") pesquisar