//- -var responsive_headers = ['col-xs-12', 'col-sm-12', 'col-md-12', 'col-lg-12', 'col-xl-12']
//- -var content_classes = ['col-xs-12', 'col-sm-12', 'col-md-4', 'col-lg-4', 'col-xl-4']
//- -var content_subsection = ['col-xl-8', 'col-lg-8', 'col-md-8', 'col-sm-8', 'col-xs-8']
//- -var content_aside = ['col-xs-4', 'col-sm-4', 'col-md-4', 'col-lg-4', 'col-xl-4']

section(class="content")
    section(class='content__section container') 
        include sub-section.pug
    aside(class='content__aside container')
        include aside.pug
