footer(class='footer container row')            
    section(class='footer_section container')
        header
            h2(id="lb_contact")
            div                    
                label(id="lb_phone") 
                span(id="phone")
                br                
                
                label(id="lb_email")
                span(id="email")
                br

                label(id="lb_business_hours")
                span(id="business_hours")
                br
                
        footer

    section(class='footer_section container')
        header
            h3
            div
              label(id="lb_dev") {{ 5 + 5 }} 
              span(id="dev")
              br

        footer

    