footer(id="footer" class='container row')            
    section(class='footer__section--one container')
        header
        h3
            img(src="view/style/images/image_default_48.png" alt="Imagem de logo provisória do site codeísta, que se encontra no rodapé da página e ainda não possúi nenhum sentido ainda, apenas figurativa")
        div
            label(id="footer__section--one-lb_x")
            span(id="footer__section--one-y")
            br                
        footer

    section(class='footer__section--two container')
        header
        h2(id="footer__section--two-lb_contact")
        div                    
            label(id="footer__section--two-lb_phone") 
            span(id="footer__section--two-phone")
            br                

            label(id="footer__section--two-lb_email")
            span(id="footer__section--two-email")
            br

            label(id="footer__section--two-lb_business_hours")
            span(id="footer__section--two-business_hours")
            br
        footer

    section(class='footer__section--three container')
        header
        h3
        div
            label(id="footer__section--three-lb_dev") 
            span(id="footer__section--three-dev")
            br
        footer

    