footer(id="footer" class='container row')            
    section(class='footer__section--one container')
        header
            h2(id="footer__section--one-lb_contact")
            div                    
                label(id="footer__section--one-lb_phone") 
                span(id="footer__section--one-phone")
                br                
                
                label(id="footer__section--one-lb_email")
                span(id="footer__section--one-email")
                br

                label(id="footer__section--one-lb_business_hours")
                span(id="footer__section--one-business_hours")
                br
                
        footer

    section(class='footer__section--two container')
        header
            h3
            div
              label(id="footer__section--two-lb_dev") {{ 5 + 5 }} 
              span(id="footer__section--two-dev")
              br

        footer

    