header(class='header container')
    nav(class='header__primary--nav')
        a(id="header__primary--nav-logo" href="#") 
        input(id="header__primary--nav-search" type="search" name="sitesearch" placeholder="procure no site")
        select(class="header__primary--nav-mode")            
            option(value="nocturnal") Modo Noturno
            option(value="daytime") Modo Diurno  
            option(value="color-blind") Modo Daltônico   
        select(class="header__primary--nav-language")            
            option(value="portuguese") Portugues
            option(value="english") English

    nav(class='header__secondary--nav')
        a(id="header__secondary--nav-about" href="#")
        a(id="header__secondary--nav-services" href="#")
        a(id="header__secondary--nav-courses" href="#")
        a(id="header__secondary--nav-blog" href="#")
        a(id="header__secondary--nav-faq" href="#")
        span compartilhe no            
        a(id="header__secondary--nav-share_facebook" href="#") Facebook
        a(id="header__secondary--nav-share_twitter" href="#") Twitter
        a(id="header__secondary--nav-share_google_plus" href="#") Google +
