header(class='header container')
    nav(class='header__primary--nav')
        a(id="header__primary--nav-logo" href="#") 
        a(id="header__primary--nav-search" href="#") 
        a(id="header__primary--nav-mode" href="#")
        a(id="header__primary--nav-language" href="#")
    nav(class='header__secondary--nav')
        a(id="header__secondary--nav-about" href="#")
        a(id="header__secondary--nav-services" href="#")
        a(id="header__secondary--nav-courses" href="#")
        a(id="header__secondary--nav-blog" href="#")