header(class='header container')
    nav(class='header__primary--nav')
        a(id="header__primary--nav-logo" href="#") logo 
        a(href="#") procure 
        a(href="#") modo
        a(href="#") Idioma
    nav(class='header__secondary--nav')
        a(href="#") sobre 
        a(href="#") serviços 
        a(href="#") cursos 
        a(href="#") blog 