div(class='content__section--subsection container' )
    header
        h2 Título Figurativo 
        article
            img(src="view/style/images/image_default_256.png" alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa")        
            p(id="content__first--section")  
    footer

div(class='content__section--subsection container')
    header
        h2 Título Figurativo
        article
            img(src="view/style/images/image_default_256.png" alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa")        
            p(id="content__second--section")
    footer

div(class='content__section--subsection container')
    header
        h2 Título Figurativo
        article
            img(src="view/style/images/image_default_256.png" alt="imagem padrão sem nenhum sentido definido ainda. Apenas ilustrativa")       
            p(id="content__third--section")
    footer